.primaryButton,
.secondaryButton {
  background-color: rgba(28,113,216,0.16);
  color: rgba(28,113,216,1);
  border: none;
  height: 40px;
  padding: 8px 20px;
  border-radius: var(--border-radius);
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: rgba(28,113,216,0.26);
  }

  &:active:not(:disabled) {
    background-color: rgba(28,113,216,0.36);
  }

  &:disabled {
    cursor: unset;
    background-color: grey;
  }

  transition: all 0.2s;
}

.secondaryButton {
  color: var(--text-primary);
  background-color: rgba(0,0,0,0.1);
  background-image: unset;

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: rgba(0,0,0,0.16);
  }

  &:active:not(:disabled) {
    background-color: rgba(0,0,0,0.26);
  }
}
